<!DOCTYPE html>
<html>
	<head>
		<title>RubySource User Auth</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<%unless session[:user_id]%>
				<ul class="nav navbar-nav">

					<li>
						<%= link_to :Signup , :signup %>
					</li>
					<li>
						<%= link_to :Login , :login %>
					</li>

				</ul>
				<%else%>
				<ul class="nav nav navbar-nav">
					<li>
						<%= link_to :"All Post" , :allpost %>
					</li>
					<li>
						<%= link_to :Home , :home %>
					</li>
					<li>
						<%= link_to :Profile , :profile %>
					</li>
					<li>
						<%= link_to :Setting , :setting %>
					</li>
					<li>
						<%= link_to :Logout , :logout %>
					</li>
				</ul>
				<%end%>

			</div><!-- /.navbar-collapse -->
		</nav>

		<div class="Main_Header">

		</div>
		<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p>
				<%= flash[:notice]%>
			</p>
		</div>
		<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p>
				<%= flash[:notice]%>
			</p>
		</div>
		<%else%>
		<div class="notice">
			<p>
				<%= flash[:notice]%>
			</p>
		</div>
		<%end%>
		<div class="container">
			<%= yield %>
		</div>

	</body>
</html>
